.section {
   padding-top: 80px;
}
.btnIwash {
    margin: 10px;
    background-color: #7CD1F9;
    color: #000000;
    padding: 10px;
    border-radius: 100px;
    font-weight: bold;
    text-decoration: none;
}
.btnIwash:hover {
    background-color: #BBD5E4;
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: #000000;
}
.links:hover {
    text-decoration: none!important;
    color: #000000;
}
