.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.not_read {
  background-color: bisque;
  color: black;
  font-weight: bold;
}
/* mail Icon with badge number */
.icon-wrapper{
  position:relative;
  float:left;
}
*.icon-blue {color: #0088cc}
*.icon-grey {color: #e25822}
.icon-grey:hover {
  color: #282c34;
}
.badge{
  background: red;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 100%;
  position:absolute;
  top:-8px;
  right:-8px;
  padding:5px 8px;
}
/* end of mail Icon */